@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2> Add a new Student </h2>
<hr/>
@using (Html.BeginForm())
{
  @Html.Label("Student Name: ")
  @Html.TextBoxFor(model => model.StudentName)

  @Html.Label("Enroll Date: ")
  @Html.TextBoxFor(model => model.EnrollDate)

  @Html.Label("Select Course")
  @Html.DropDownList("CourseId")

  <input type = "submit" value ="Add new Student" class ="btn btn-default" />
}
<p>@Html.ActionLink("Back to Student List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>