@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2> Add a new Student </h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StudentName)
  @Html.TextBoxFor(model => model.StudentName)

  @Html.Label("Select Course")
  @Html.DropDownList("CourseId")

  <input type = "submit" value ="Add new Student" class ="btn btn-default" />
}
<p>@Html.ActionLink("Show all Students", "Index")</p>