@{
  Layout = "_Layout";
}

@model Registrar.Models.Student
<h2>Student Details</h2>
<hr/>
<h2>Student Name: @Html.DisplayFor(model => model.StudentName)</h2>
<h2>Date of Enrollment: @Html.DisplayFor(model => model.EnrollDate)</h2>
@if(@Model.Courses.Count == 0)
{
  <p>This student is not currently enrolled in any courses.</p>
}
else
{
  <h2>This student is enrolled in the following courses:</h2>
  <ul>
  @foreach(var join in Model.Courses)
  {
    <li>@join.Course.CourseName</li>
    @using (Html.BeginForm("DeleteCourse", "Students"))
    {
      @Html.Hidden("joinId", @join.EnrollmentsId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Enroll in a Course", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Back to Student List", "Index")</p>