@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Edit</h2>

<h2>Edit this student: @Html.DisplayFor(model => model.StudentName) </h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.StudentName)
  @Html.EditorFor(model => model.StudentName)

  @Html.Label("Select courses")
  @Html.DropDownList("CourseId")

  <input type="submit" value="save" />
}

<p>@Html.ActionLink("Back to studen list", "Index")</p>