@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Edit</h2>
<hr/>
<h2>Edit this Student: @Html.DisplayFor(model => model.StudentName) </h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.Label("Student Name")
  @Html.EditorFor(model => model.StudentName)

  @Html.Label("Select courses")
  @Html.DropDownList("CourseId")

  <input type="submit" value="save" />
}

<p>@Html.ActionLink("Back to Student List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>